<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="index.html"><span><img class="navbar-icon" src="assets/images/mystic_eyes_small.jpg"></span> ASH MYSTIC</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="index.html">🏡 Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">🤝 Offerings
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="divination-session">Automatic-Drawing Divination Session</a></li>
                <li><a href="tools">Tools for Raising Consciousness</a></li>
                <li><a href="art">Comissioned Art & Collaboration</a></li>
            </ul>
        </li>
        <li><a href="http://ash-mystic.redbubble.com">🎨 Art Shop</a></li>
        <li><a href="about-me">🌟 About</a></li> 
      </ul>
    </div>
  </div>
</nav>
