#emailsignup {
  background-image: url("../images/drawing_example.JPG") !important
  /*height: default;*/
}
#emailsignup > .row {
	padding: 20px;
 	/*margin: 0px !important;*/
 	margin: 50px;
	background-color:rgba(75,75,75,0.7);
}