#emailsignup {
	color: white;
	background-image: url("../images/drawing_example.JPG") !important;

	background-repeat: no-repeat;
  	background-size: cover;
	background-position: right 50% top 40%;
	color: white;
	position:relative;
	margin: 0px;
}

#emailsignup > .row {
	background-color:rgba(75,75,75,0.7);
	padding: 100px 50px 50px;
	min-height: 350px;
}
@media screen and ( max-width: 540px) {
	
	#emailsignup > .row {
		background-color:rgba(75,75,75,0.7);
		padding: 0px;
	}

	
}
