---
id: about
layout: default
---
<div class="container-fluid page-section">
	<div class="row" id="about-ash">
		<div class="col-sm-6">
			<h2>About Me</h2>
			<img class="page-section__image" src="assets/images/ash_mystic_sequence_web_optimized.gif">
		</div>
		<div class="col-sm-5">
			<br>
			<br>
			<br>
			<h4>Hello and welcome!</h4>
			I am so glad you have joined me here in this sacred temple of connection. My name is Ash Mystic and I am a multidimensional being of light. In this life incarnation I embody the archetypes of Libra, the Phoenix, the Spider, the Earth Snake, the Magnetic Skywalker and the Indigo Child. My passions include art, technology, spirituality, philosophy and compassionate activism. These all revolve around the primary purpose of helping usher in our collective shift to the <a href="https://en.wikipedia.org/wiki/Age_of_Aquarius">Great Age</a>, in which our evolution to higher consciousness dissolves the separation between <a href="https://en.wikipedia.org/wiki/Myth">mythos</a> (our fabled spiritual nature) and <a href="https://en.wikipedia.org/wiki/Logos">logos</a> (our powerful reasoning minds).
			<br>
			<br>
			This is the age of Aquarius, the ascension of Earth to the fourth dimension of reality wherein we are freed from previous illusions of separation. It is a period of abundance, peace and prosperity.  It will require dissolution of many old structures of power and control in order to make room for new growth. Let us unite in making it a smooth transition. Let us call upon higher forces to guide and empower us.
			<br>
			<br>
			I <b>believe in</b> the divine nature of all that is.
			<br>
			<br>
			I <b>stand for</b> the abolition of slavery in all forms – physical, mental, and spiritual.
			<br>
			<br>
			I <b>value</b> what is Good, what is True, and what is Beautiful.
			<br>
			<br>
			I <b>practice</b> dynamic balance in all that I do.
			<br>
			<br>
			I <b>seek</b> seekers; do you seek seekers too?
		</div>
		<div class="col-sm-1">
		</div>
	</div>

	<div class="row" id="about-modality">
		<div class="col-sm-6">
			<h2>About My Modality</h2>
			<img class="page-section__image" src="assets/images/drawing_closeup.jpg">
		</div>
		<div class="col-sm-5">
			<br>
			<br>
			<br>
			<h4>Iterative Automatism & Iconomancy</h4>
			That’s a mouthful to say, isn’t it?! I shall break this term down to be more easily understood.. My divination practice involves two modes: the creation and interpretation of images. However it is not a linear two-step process, and that is where the iteration concept comes in.
			<br>
			<br>
			Let’s start by examining the creation aspect, which is where the drawings begin. I utilize the technique of <a href="https://en.wikipedia.org/wiki/Surrealist_automatism">surrealist automatism</a>, otherwise known as <a href="https://en.wikipedia.org/wiki/Surrealist_automatism#Automatic_drawing_and_painting">automatic drawing</a>. This is a technique common to the <a href="https://en.wikipedia.org/wiki/Surrealism">surrealist</a> art and philosophy movement, which seeks to suppress the conscious mind and let the unconscious and supra/superconscious levels of awareness come through. It involves playing with “random” movement and foregoing control of the outcome of the drawing.
			<br>
			<br>
			The second aspect of the drawings is interpretation. Conjuring meaning and messages from symbols and icons is known as <a href="https://en.wikipedia.org/wiki/Methods_of_divination#I">iconomancy</a>. It is closely related to the concept of <a href="https://en.wikipedia.org/wiki/Iteration">iconography</a>, or the study and interpretation of symbols and images in art.
			<br>
			<br>
			As I mentioned, the illustrations I produce are not simply drawing followed by interpretation. There is constant feedback going between the two, as lines form into shapes, shapes form into symbols, and symbols form into more complex representations. Throughout the drawing I toggle between automatic drawing, observation, and interpretation. This iterative process intertwines intuition and analysis. I believe our collective and individual destiny is to integrate these two aspects of our minds – the logical and intuitive. This is the basis of becoming whole conscious humans, and is an integral concept in the philosophy of the Great Age in which mythos and logos unite. It is something I am very passionate to practice and share with others.
		</div>
		<div class="col-sm-1">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<img class="page-section__image" src="assets/images/eclipse.jpg">
		</div>
		<div class="col-sm-5">
			So to summarize, <b>automatism</b> refers to the intuitive creation mode, <b>iconomancy</b> to the interpretation mode, and the <b>iterative</b> label to the cyclical relationship between the two.
			<br>
			<br>
			This practice has parallels in other forms of divination such as geomancy, in which lines or markings on the ground are interpreted, or from patterns formed from thrown objects. This is often done with a recursive/iterative algorithm utilizing a numerological mapping system.
 			<br>
 			<br>
 			<br>
 			<br>
			I hope that illuminated my process a bit for you! If you’d like to practice this yourself, please check out my free resource, <b><i>“The Complete Guide to Divinatory Drawing”</i></b> below!
		</div>
		<div class="col-sm-1">
		</div>
	</div>
</div>