---
id: about
layout: default
---
<div class="container-fluid page-header" id="page-header-about">
	<div class="row">
	  <div class="col-sm-12 page-header__title">
		<h1>About Me</h1>
	  </div>
	</div>
  </div>

<div id="about-ash" class="container-fluid page-section">
	<div class="row" id="introduction">
		<h2>Introduction</h2>
		<br><br>
		<div class="col-sm-6">
			<!-- <h1>About Me</h1> -->
			<!-- <br> -->
			<br>
			<img class="page-section__image" src="assets/images/ash_mystic_sequence_web_optimized.gif">
			<br>
			<p class="page-section__image">Welcome to my portal! A space between trees, to a realm bridging realms 🌳🌀🌳</p>
		</div>
		<div class="col-sm-5">
			<br>
			<!-- <h4>Mystic, artist, technologist</h4> -->

			

			<p>
				<b>Hi! My name is Ash.</b> In the material realm I am a <i>mystic, artist and technologist</i>. In the spiritual realm I am a <i>Sirian Starseed</i>, a member of the <i>Order of Metatron and Melchizedek</i>, <b><a href="https://twelvemushrooms.com" target="_blank">Order of the Twelve Mushrooms</a></b>, Order of the <i>Ash Tree</i> and <i>Phoenix</i>, member of the tribe of the <b><a href="/tools#dreamspell-calendar" target="_blank">Red Magnetic Skywalker</a></b>, and the solar tribe of <i>Libra</i>.
			</p>
			<p>
				My primary passion and mission in this life is to develop and inspire <i>Unity Consciousness</i>, which is to see beyond the illusions of separation that divide people from each other, from the Earth, from God, and from their own souls.
			</p>
			
			<p>
				I believe this is the most important call to action of our time. We are in an accelerating phase of the 2160-year Great <a href="https://en.wikipedia.org/wiki/Age_of_Aquarius" target="_blank"><i>Age of Aquarius</i></a>, which primarily embodies the archetype of Unity. Within the Age of Aquarius we are in the (first) 720-year Decan of Libra. So we are being called to integrate the polarized aspects of ourselves, and in turn integrate the polarized aspects of our worldwide society. This shows up in some of the following ways:
				<ul>
					<li>
						A rebalancing of feminine and masculine energy to embody the archetype of Divine Androgyny
					</li>
					<li>
						A rebalancing of polarized political perspectives to find real middle ground
					</li>
					<li>
						A rebalancing of cosmological beliefs to see the compatibility of science/logic and spirituality/intuition. We are being called to dissolve the separation between <a href="https://en.wikipedia.org/wiki/Myth" target="_blank">mythos</a> (our fabled spiritual nature) and <a href="https://en.wikipedia.org/wiki/Logos" target="_blank">logos</a> (our powerful reasoning minds).
					</li>
				</ul>
				
			</p>
			<p>
				I believe it is critical that we find this unity in ourselves first, and that it will then ripple into the collective field. We must lead by example and see the best in others to inspire them to do the same.
			</p>

			<p>
				I explore these themes through a few practices and creations: <b><a href="#automatic-drawing">Automatic Drawing Divination</a></b>, <b><a href="#art-music">Art & Music</a></b> and <b><a href="#conscious-technology">Conscious Technology</a></b>. Please continue reading below to learn more.
			</p>
			<br>
			<a href="#contactform"><button class="button">💌 Contact Me</button></a>
		</div>
		<div class="col-sm-1">
		</div>
	</div>

	<div class="row" id="automatic-drawing">
		<br><br><br><br>
		<h2>Automatic Drawing Divination</h2>
		<br><br>
		<div class="col-sm-6">
			<!-- <h2>About My Modality</h2> -->
			<br>
			<img class="page-section__image" src="assets/images/drawing_closeup.jpg">
			<p class="page-section__image">
				Art: Example <a href="/divination-session" target="_blank">Automatic Drawing</a>
			</p><br>
		</div>
		<div class="col-sm-5">
			<br>
				
				<p>
					I offer psychic readings through <i>Automatic Drawing</i> Divination. Automatic Drawing is the practice of letting one's subconscious/superconscious mind draw marks on paper without conscious control, and then interpreting the results as a form of spiritual divination. It is similar to a Tarot reading, but instead of using a deck of cards, the card used is drawn on the spot.
				</p>
					Like Tarot, Automatic Drawing can be done for yourself or for other people. In either case, it starts with asking a question or intention. Then it's important to let any thoughts about that question/intention fade away from one’s mind to allow genuine messages to be channeled through from Spirit into the drawing.
				<p>
					In my own Automatic Drawing practice, simple lines form more complex shapes, and complex shapes fit together to form scenes and a story. This involves an iterative and dynamic dance between the logical/analytical left hemisphere of the brain, and the creative/intuitive right hemisphere. I believe this integration of polarities is a critical task in the evolution of our consciousness, and a powerful way to tap into the Unified Field of Consciousness.
				</p>	
				<p>
					I offer online sessions, which you can read more about and <b><a href="/divination-session" target="_blank">book here</a></b>. I also offer mini readings for parties in the northeast Ohio area, so if that is something you are interested in, please inquire by sending me a message here.
				</p>
				<br>
				<a href="/divination-session" target="_blank"><button class="button">🔮 Book Now</button></a>
			<br><br>
		</div>
		<div class="col-sm-1">
		</div>
	</div>

	<div class="row" id="art-music">
		<br><br><br><br>
		<h2>Art & Music</h2>
		<br><br>
		<div class="col-sm-6">
			<!-- <h2>About My Modality</h2> -->
			<br>
			<img class="page-section__image" src="assets/images/portfolio-items/temple_of_divine_light.jpg">
			<p class="page-section__image">
				Art: <a href="/temple-of-divine-light" target="_blank">"Temple of Divine Light"</a>, 2023
			</p><br>

		</div>
		<div class="col-sm-5">
				<br>
				<p>
					With my artwork I love experimenting with different mediums and ways of incorporating the theme of Unity. One of my favorite symbols/motifs is Sacred Geometry. Studying Sacred Geometry has been a huge catalyst and foundation for my spiritual awakening and understanding. I come from a very logical/atheist background, so the mathematical logic of Sacred Geometry was critical in helping me bridge the gap between atheism and spirituality. Studying Sacred Geometry really unlocked my connection to and trust in Synchronicity as a messenger of universal truth.
				</p>
				<p>
					One of the primary artistic applications of geometry and synchronicity is with my oracle deck <b><a href="https://twelvemushrooms.com" target="_blank">Order of the Twelve Mushrooms</a></b>. It was inspired by a powerful revelatory synchronicity I experienced in 2017. It involved finding a fairy ring of mushrooms and two trees growing perfectly to represent the stages of life and reincarnation. Upon later analysis I realized the mushroom stages made beautiful perfect symmetries when overlaid onto the Fruit of Life sacred geometry pattern.
				</p>
				<p>
					Music is another way I love to explore Unity Consciousness. My meditative piano album <b><a href="/temple-of-divine-light" target="_blank">Temple of Divine Light</a></b>  is based on the 7 Divine Rays of Light, which are universal aspects of creation similar to sacred geometry or chakras, that are found across multiple spiritual traditions. Each track is associated with one ray and its Chohan, or Ascended Master.
				</p>
				<br>
				<a href="https://twelvemushrooms.com" target="_blank"><button class="button">🎴 View Oracle Deck</button></a>
				<a href="/temple-of-divine-light" target="_blank"><button class="button">💿 Listen to album</button></a>
				<br><br>
				<a href="/art" target="_blank"><button class="button">🎨 View Art Gallery</button></a>	
				<a href="http://ash-mystic.redbubble.com/" target="_blank"><button class="button">🏬 Explore Art Shop</button></a>	
			<br><br>
		</div>
		<div class="col-sm-1">
		</div>
	</div>

	<div class="row" id="conscious-technology">
		<br><br><br><br>
		<h2>Conscious Technology</h2>
		<br><br>
		<div class="col-sm-6">
			<!-- <h2>About My Modality</h2> -->
			<br>
			<img class="page-section__image" src="assets/images/times_table.jpg">
			<p class="page-section__image">
				Art: Samples from the <a href="/tools#times-table-geometry-simulator" target="_blank">Times Table Geometry Simulator</a>, 2016
			</p><br>
		</div>
		<div class="col-sm-5">
				<br>
				<p>
					Another prophesied hallmark of the Age of Aquarius is the development of advanced technology, especially for travel and communication. The Industrial and Information Ages both fit within the beginning of the Age of Aquarius, and it's obvious that this prophesy is true for this time. It can be easy to fall into a polarized tendency to either get too sucked into technology, comfort and s(t)imulation (which is very unhealthy for the body, mind and soul) or to shun technology completely (which misses out on a lot of its potential to help us). This fracture is intensifying even more with the recent mind-blowing developments in Artificial Intelligence. As with all things, I think a middle ground is important and empowering.
				</p>
				<p>
					One such conscious use of technology is to explore geometry. I've made a few tools for exploring geometry's beauty and elegance, including a Fractal Tree Generator and Times Table Simulator. These can be found in the <b><a href="/tools">Tools for Raising Consciousness</a></b>.
				</p>
				<p>
					I also offer <b><a href="/tools#tech-commissions">freelance website design and tools</a></b>, focusing on helping spiritual entrepreneurs. If you have a project you'd like help with, please send me a message to book a free phone consultation!
				</p>
				<br>
				<a href="/tools" target="_blank"><button class="button">💻 Explore Tools</button></a>
				<a href="#contactform"><button class="button">💌 Make commission inquiry</button></a>
			<br>
			<br>
		</div>
		<div class="col-sm-1">
		</div>
	</div>

</div>

<div class="container-fluid page-section highlight">
	<hr><br>
	<div class="row" id="great-age-invocation">
		<br><br><br>
		<h2>Great Age Invocation</h2>
		<br><br>
		<div class="col-sm-6">
			<!-- <h2>About My Modality</h2> -->
			<br>
			<img class="page-section__image" src="assets/images/portfolio-items/lions_gate.jpg">
			<p class="page-section__image">
				Art: <a href="https://www.redbubble.com/shop/ap/55558162" target="_blank">"Lion's Gate"</a>, 2018
			</p><br>
		</div>
		<div class="col-sm-5">
				<br>
				<p>
					This is the age of Aquarius, the ascension of Earth to the fourth dimension of reality wherein we are freed from previous illusions of separation. It is a period of abundance, peace and prosperity.  It will require dissolution of many old structures of power and control in order to make room for new growth. Let us unite in making it a smooth transition. Let us call upon higher forces to guide and empower us.
				</p>
				<p>
					I <b>believe in</b> the divine nature of all that is.
				</p>
				<p>
					I <b>stand for</b> the abolition of slavery in all forms – physical, mental, and spiritual.
				</p>
				<p>
					I <b>value</b> what is Good, what is True, and what is Beautiful.
				</p>
				<p>
					I <b>practice</b> dynamic balance in all that I do.
				</p>
				<p>
					I <b>seek</b> seekers; do you seek seekers too?
				</p>
		</div>
		<div class="col-sm-1">
		</div>
	</div>

	<div class="row" id="way-of-the-mystic">
		<br><br><br>
		<h2>Poem: Way of the Mystic</h2>
		<br><br>
		<div class="col-sm-6">
			<!-- <h2>About My Modality</h2> -->
			<br>
			<img class="page-section__image" src="assets/images/portfolio-items/drawing_2017_5_longtime_sunshine_mantra.jpg">
			<p class="page-section__image">
				Art: <a href="/blog/2022-12-09-holistic-healing-2023-art-calendar#cover-the-pure-light-within-you" target="_blank">"Longtime Sunshine Mantra"</a>, 2018
			</p><br><br>

			<img class="page-section__image" src="assets/images/portfolio-items/eye_surrender_to_the_i_in_the_sky.jpg">
			<p class="page-section__image">
				Art: "Eye Surrender to the I in the Sky", 2017
			</p><br>

			<img class="page-section__image" src="assets/images/category-page-header/self_portrait_color.jpg">
			<p class="page-section__image">
				Art: "Self Portrait" 2016
			</p><br>

			<img class="page-section__image" src="assets/images/oottm_presence_image.png">
			<p class="page-section__image">
				Art: Featured image on the "Presence" card from the <a href="https://twelvemushrooms.com" target="_blank">Order of the Twelve Mushrooms</a> deck, illustrating the <a href="http://www.ivakenaz.com/p/the-world-tree-of-life-axis-mundi.html" target="_blank">vortex Toroidal Field</a>.
			</p><br>
			<img class="page-section__image" src="assets/images/torus-vortex-spiral.gif">
			<p class="page-section__image">
				Art: 3D torus vortex from <a href="https://tenor.com/view/torus-vortex-spiral-gif-14087761" target="_blank">Tenor.com</a>.
			</p><br>

		</div>
		<div class="col-sm-5">
				
				<br>
				<h5><b>I. Mind</b></h5>

				<p>
					Seeing the world with my inward eye,<br>
					I peer past the illusion of separation.<br>
				</p>

				<p>
					Seeking Unity, integrating polarities:<br>
					Yin-Yang, Heaven-Earth, left-right, us-them…<br>
					I aim for the middle in all things.<br>
				</p>

				<p>
					In the unfolding path of my journey<br>
					Love guides my heart<br>
					And Synchronicity my mind.<br>
					I look for patterns<br>
					And listen for the 'A'ha!' from my soul.<br>
				</p>

				<p>
					I use<br>
					YOUniversal languages:<br>
					Listening to nature,<br>
					Reading geometry,<br>
					Speaking music,<br>
					Drawing symbols.
				</p>

				<p>
					I am<br>
					You.<br>
					You are them.<br>
					You are God, too.
				</p>

				<p>
					I connect<br>
					My self to other selves,<br>
					My self to God,<br>
					God to the Universe,<br>
					Death to Life,<br>
					Human to Hue-man,<br>
					Hue-man to New Man.
				</p>

				<p>
					I am in everything and everything is in me.<br>
					I am that; I am.
				</p>
				<br>
				<h5><b>II. Body</b></h5>

				<p>
					I hug trees,<br>
					Entangling  my field with the tree's field.<br>
					My legs become roots;<br>
					My arms become branches.
				</p>

				<p>
					As the tree unites ground and sky<br>
					I bridge Heaven and Earth.
				</p>

				<p>
					I envision myself as one node in a fractal tree connecting everything to everything else: a holographic fractal universe.
				</p>

				<p>
					The Tree of Life.<br>
					I am that; I am.
				</p>
				<br>
				<h5><b>III. Soul</b></h5>

				<p>
					I breathe.<br>
					My breath brings me to stillness.<br>
					My stillness brings me to presence.<br>
					My presence brings me to the center of the YOUniverse, the center of the Vortex Toroidal Field of Unity Consciousness.<br>
					My centeredness in the center of the Field connects me to the outside edge via the spiraling vortex of the field.<br>
					
				</p>
				<p>
					Thus I connect my finite soul - my sun - my drop - to the Infinite Spirit - God - Unity Consciousness - All That Is.<br>
					I am that; I am.
				</p>
				<p>
					.AΩ.
				</p>

		</div>
		<div class="col-sm-1">
		</div>
	</div>
</div>

	<!-- <div class="row" id="about-modality">
		<div class="col-sm-6">
			<h2>About My Modality</h2>
			<img class="page-section__image" src="assets/images/drawing_closeup.jpg">
		</div>
		<div class="col-sm-5">
			<br>
			<br>
			<br>
			<h4>Iterative Automatism & Iconomancy</h4>
			That’s a mouthful to say, isn’t it?! I shall break this term down to be more easily understood.. My divination practice involves two modes: the creation and interpretation of images. However it is not a linear two-step process, and that is where the iteration concept comes in.
			<br>
			<br>
			Let’s start by examining the creation aspect, which is where the drawings begin. I utilize the technique of <a href="https://en.wikipedia.org/wiki/Surrealist_automatism">surrealist automatism</a>, otherwise known as <a href="https://en.wikipedia.org/wiki/Surrealist_automatism#Automatic_drawing_and_painting">automatic drawing</a>. This is a technique common to the <a href="https://en.wikipedia.org/wiki/Surrealism">surrealist</a> art and philosophy movement, which seeks to suppress the conscious mind and let the unconscious and supra/superconscious levels of awareness come through. It involves playing with “random” movement and foregoing control of the outcome of the drawing.
			<br>
			<br>
			The second aspect of the drawings is interpretation. Conjuring meaning and messages from symbols and icons is known as <a href="https://en.wikipedia.org/wiki/Methods_of_divination#I">iconomancy</a>. It is closely related to the concept of <a href="https://en.wikipedia.org/wiki/Iteration">iconography</a>, or the study and interpretation of symbols and images in art.
			<br>
			<br>
			As I mentioned, the illustrations I produce are not simply drawing followed by interpretation. There is constant feedback going between the two, as lines form into shapes, shapes form into symbols, and symbols form into more complex representations. Throughout the drawing I toggle between automatic drawing, observation, and interpretation. This iterative process intertwines intuition and analysis. I believe our collective and individual destiny is to integrate these two aspects of our minds – the logical and intuitive. This is the basis of becoming whole conscious humans, and is an integral concept in the philosophy of the Great Age in which mythos and logos unite. It is something I am very passionate to practice and share with others.
		</div>
		<div class="col-sm-1">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<img class="page-section__image" src="assets/images/eclipse.jpg">
		</div>
		<div class="col-sm-5">
			So to summarize, <b>automatism</b> refers to the intuitive creation mode, <b>iconomancy</b> to the interpretation mode, and the <b>iterative</b> label to the cyclical relationship between the two.
			<br>
			<br>
			This practice has parallels in other forms of divination such as geomancy, in which lines or markings on the ground are interpreted, or from patterns formed from thrown objects. This is often done with a recursive/iterative algorithm utilizing a numerological mapping system.
 			<br>
 			<br>
 			<br>
 			<br>
			I hope that illuminated my process a bit for you! If you’d like to practice this yourself, please check out my free resource, <b><i>“The Complete Guide to Divinatory Drawing”</i></b> below!
		</div>
		<div class="col-sm-1">
		</div>
	</div> -->
