---
id: art-shop
layout: default
---
<div class="container-fluid page-header" id="page-header-art-shop">
  <div class="row">
    <div class="col-sm-12 page-header__title">
      <h1>Energetic Artwork</h1>
    </div>
  </div>
</div>

<div class="container-fluid page-section">
  <div class="row">
    <div class="col-lg-7">
    	<h3>Original Watercolor Illustrations</h3>
    	<img class="column-image " src="assets/images/etsy_gallery.jpg">
    	<br>
      <!-- <script type='text/javascript' src='https://www.etsy.com/assets/js/etsy_mini_shop.js'></script><script type='text/javascript'>new Etsy.Mini(24525817,'gallery',3,3,0,'https://www.etsy.com');</script> -->
      <a href="https://www.etsy.com/shop/AshMysticArt"><button class="button">View in Etsy Shop</button></a>
    </div>
    <div class="col-lg-5">
    	<h3>Meditation Art Card Sets</h3>
    	<img class="column-image " src="assets/images/meditation_art_cards.jpg">
    	<br>
      	<a href="https://www.etsy.com/listing/636949829"><button class="button">View in Etsy Shop</button></a>
    </div>
  </div>
</div>