---
id: home
layout: default
---


<!-- <div class="home"> -->

<div class="container-fluid page-header" id="page-header-home">
  <div class="row">
    <div class="col-sm-12 page-header__title">
      <h1>Spiritual Guidance, Tools & Art</h1>
    </div>
  </div>
</div>

<div class="container-fluid page-section" id="page-section-divination-1">
  <div class="row">
    <div class="col-sm-8 page-section__title">
      <h2>Automatic-Drawing Divination Session</h2>
      <br>
      <h3>Imagine a divination reading you can take home with you as one-of-a-kind art.</h3>
      <b>New seekers…</b> Enjoy a <b>20% DISCOUNT</b> off all listed prices on your first drawing!
      <br>
      <br>
      <a href="divination-session"><button class="button-large">Schedule a Session</button></a>
    </div>
    <div class="col-sm-4">
      <img class="page-section__image" src="assets/images/festival_reading.jpg"></img>
      <br>
      <h4 class="quote">"Where intention goes, energy flows."</h4>
    </div>
  </div>
</div>

<div class="container-fluid page-section" id="page-section-color-by-number-generator">
    <div class="row">
      <div class="col-sm-12">
        <h2>NEW!</h2>
        <br>
        <h3>Create your own free meditative coloring activity!</h3>
        <br>
        <img class="page-section__image" src="assets/images/background_buddha.png"></img>
        <br>
        <h4>Mystery Mosaic / Color-By-Number Generator</h4>
        <br>
        <a href="color-by-number-generator"><button class="button-large">Start Now</button></a>
      </div>
    </div>
  </div>

  {% include emailsignup.html %}

  <div class="container-fluid page-section" id="section-about-divination">

    <div class="row ">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <h3>Tap into the esoteric realm</h3>
        <h4>I am an intuitive and artist specializing in channeled readings through ink, watercolor, and digital illustration. I offer sessions in person and remotely, helping you to gain clarity on burning questions, illuminate your soul path and expand your intuitive connection to the mystical realm.</h4>
        <br>
        <a href="about-me"><button class="button-large">Learn More</button></a>
      </div>
      <div class="col-sm-4">
        <img class="page-section__image" src="assets/images/drawing_totem_tesselation_no_background.png"></img>
        <br>
        <h4 class="quote">"Ask questions; Know Thyself"</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <h3>The channeled drawing: step-by-step</h3>
        <h4>In a session I will help you clarify an intention for your drawing e.g. for healing, knowledge, or guidance. This intention sets the initial tone for the drawing, during which you are invited to watch or meditate. The drawing is followed by a symbolic interpretation and discussion. Take the original drawing home with you, or get it mailed with a remote session.</h4>
      </div>
      <div class="col-sm-4">
        <img class="page-section__image" src="assets/images/drawing_banana_skater_no_background.png"></img>
        <br>
        <h4 class="quote">“You are what makes you unique.”</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <h3>60 Min. Remote Session</h3>
        <h4>(Available over phone or Zoom)</h4>
        <br>
        <h4>What’s Included:</h4>
        <h4>
          <span>&#x25cf;</span> 10-minute phone call to set intention
          <br>
          <span>&#x25cf;</span> 25-minute drawing
          <br>
          <span>&#x25cf;</span> 25-minute phone call for interpretation and discussion
          <br>
          <span>&#x25cf;</span> Original pen drawing is mailed to you
          <br>
          <span>&#x25cf;</span> (See optional add-ons below)
          <br>
        </h4>
        <a href="divination-session"><button class="button-large">Book Now</button></a>
      </div>
      <div class="col-sm-4">
        <img class="page-section__image" src="assets/images/eye_surrender_to_the_i_in_the_sky_web.jpg"></img>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row page-section__title">
      <div class="col-sm-12">
        <h3>Drawing Add-ons</h3>
        <h4>Add extra dimension and frequency to your drawings with these colorful add-ons!</h4>
      </div>
    </div>

    <div class="row" id="row-addons-2">
      <div class="col-sm-1">
      </div>

      <div class="col-sm-5">
        <img class="page-section__image" src="assets/images/eclipse.jpg"></img>
        <h3>Watercolor Original</h3>
        <br>
        <h4>What’s Included:</h4>
        <h4>
          <span>&#x25cf;</span> Get your original drawing painted in watercolor, giving even more life to the symbols.
          <br>
          <span>&#x25cf;</span> Painting will happen after the session and will be mailed within a week.
        </h4>
        <br>
        <br>
        <br>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <img class="page-section__image" src="assets/images/drawing_field_of_consciousness_tesselation.JPG"></img>
        <h3>Digital Colored Montage</h3>
        <br>
        <h4>What’s Included:</h4>
        <h4>
          <span>&#x25cf;</span> Receive a digital colored version of your drawing composed as a montage/tessellation. Symbols morph and combine, adding extra levels of meaning to your drawing.
          <br>
          <span>&#x25cf;</span> Digital image is created and sent (via email) in about a week.
          <br>
          <span>&#x25cf;</span> Image is sent as a high-resolution PNG file.
        </h4>
        <br>
        <br>
        <br>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-12 page-section__title">
        <h3>What Clients are Saying</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <div class="quote">
          <i class="fas fa-quote-right quote__symbol"></i>
          <div class="quote__text">
            <i>"I would definitely recommend booking a session! I found the intuitive drawing to be very eye-opening and thought-provoking. With Ash’s guidance and probing questions, it helped me have more introspection to my own question and led me to my own answers. It gave me fresh insight and left me with a stronger confidence in the right path for me."</i>
          </div>
          <div class="quote__name">
            -Liz
          </div>
        </div>
    </div>
    <div class="col-sm-1">
      </div>
    <div class="col-sm-5">
      <div class="quote">
          <i class="fas fa-quote-right quote__symbol"></i>
          <div class="quote__text">
            <i>"Ash is kind, empathic, intuitive; to watch him channel visions through drawings opens up new ideas and intentions for me. It’s an enriching experience."</i>
          </div>
          <div class="quote__name">
            -AmyQ
          </div>
        </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div class="row ">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <h3>About My Practice</h3>
        <h4>I am an intuitive and artist specializing in channeled readings through ink, watercolor, and digital illustration. I offer sessions in person and remotely, helping you to gain clarity on burning questions, illuminate your soul path and expand your intuitive connection to the mystical realm.</h4>
        <br>
        <a href="about-me#about-modality"><button class="button-large">Learn More</button></a>
      </div>
      <div class="col-sm-4">
        <img class="page-section__image" src="assets/images/drawing_field_of_consciousness_no_background.png"></img>
        <br>
        <h4 class="quote">"Magic is all around us, for those who open their eye to see."</h4>
      </div>
    </div>

    <div class="row ">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
        <h3>About Me</h3>
        <h4>Greetings! My name is Ash Mystic. My primary passion is to help elevate our collective and individual levels of consciousness toward more holistic, compassionate, healthy, and regenerative states of being. If this resonates with you, please connect!</h4>
        <br>
        <a href="about-me#about-ash"><button class="button-large">Learn More</button></a>
      </div>
      <div class="col-sm-4">
        <img class="page-section__image" src="assets/images/ash.JPG"></img>
      </div>
    </div>

  </div>

<!-- </div> -->
