---
id: home
layout: default
---


<!-- <div class="home"> -->

<div class="container-fluid page-header" id="page-header-home">
  <div class="row">
    <div class="col-sm-12 page-header__title">
      <h1>Spiritual Guidance, Tools & Art</h1>
    </div>
  </div>
</div>

{% include emailsignup.html %}

<section class="item-portfolio item-portfolio-{{ page.item-category }}">
  <h2 class="section-title dark">Featured Offerings</h2>
  </br>
  <div class="container-fluid container-isotope">

    <div id="filters">
      {% for filtergroup in page.item-filters %}
      <div class="button-group-container">
        <!-- <label class="button-label" for="{{ filtergroup.name }}"><h4>{{ filtergroup.name }}</h4></label> -->
        <div class="button-group" name="{{ filtergroup.name }}" data-filter-group="{{ filtergroup.name }}">
          <button class="button is-checked show-all" data-filter="*">show all</button>
          {% for filter in filtergroup.filter-list %}
          <button class="button"
            data-filter=".{{ filtergroup.name }}-{{ filter | downcase | replace: ' ', '-' | replace: '(', '-' }}">{{
            filter }}</button>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    </br>


    <!-- <h2 class="grid-filter-header">Sort</h2>
      <div id="sorts" class="button-group">
        {% for sortValue in page.item-sorts %}
          <button class="button {% if page.item-sorts.first == sortValue %}is-checked{% endif %}" data-sort-by="{{ sortValue | downcase | replace: ' ', '-' }}">{{ sortValue }}</button>
        {% endfor %}
      </div>
      <div id="sort-order" class="button-group">
          <button class="button" data-sort-asc="true">▲</button>
          <button class="button is-checked" data-sort-asc="false">▼</button>
      </div> -->

    {% assign items = site.portfolio-items | where:'category', page.item-category | sort: 'sort-order' %}

    <div class="no-results">
      <h4>No results found. Try adjusting filters.</h4>
    </div>
    <div class="grid {{ page.item-category }}">
      <!-- Get the collection -->

      {% for item in items %}
      {% assign content-nl-stripped = item.content | strip_newlines %}
      <div
        class="grid-item {{ item.card-class }} Category-{{ item.category }} {% for medium in item.mediums %}Medium-{{ medium }} {% endfor %} {% for topic in item.topics %}Topic-{{ topic }} {% endfor %} {% for region in item.region %}Region-{{ region }} {% endfor %}"
        data-category="general wisdom, society">
        {% case item.card-class %}
        {% when 'feature' %}
        <div class="medium">{{ item.medium }}</div>
        <!-- <img class="image" src="{{ item.image }}"></img> -->
        <a class="image image-preview" href="{{ item.button.url }}" {% if item.button.new-tab %}target="_blank" {% endif
          %}>
          <img src="assets/images/portfolio-items/thumbnail/{{ item.image }}" class="">
        </a>
        <div class="title">
          <h4><b>{{ item.title }}</b></h4>
        </div>
        <div class="medium">{{ item.type | capitalize | replace: '-', ' ' }}</div>
        <!-- <div class="author">{{ item.author }}</div> -->
        <!-- <div class="date">{{ item.date }}</div> -->
        <hr>
        <div class="text">{{ item.text }}</div>

        </br>
        <a class="link" href="{{ item.button.url }}" {% if item.button.new-tab %}target="_blank" {% endif %}><button
            class="button">{{ item.button.text }}</button></a>
        {% endcase %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>



<!-- <div class="container-fluid page-section" id="page-section-color-by-number-generator">
    <div class="row">
      <div class="col-sm-12">
        <h2>NEW!</h2>
        <br>
        <h3>Create your own free meditative coloring activity!</h3>
        <br>
        <img class="page-section__image" src="assets/images/background_buddha.png"></img>
        <br>
        <h4>Mystery Mosaic / Color-By-Number Generator</h4>
        <br>
        <a href="color-by-number-generator"><button class="button-large">Start Now</button></a>
      </div>
    </div>
  </div>
</div> -->  

</br>
</br>
</br>
  <div class="row ">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-7">
      <h3>About Me</h3>
      <h4>Greetings! My name is Ash Mystic. My primary passion is to help elevate our collective and individual levels
        of consciousness toward more holistic, compassionate, healthy, and regenerative states of being. If this
        resonates with you, please connect!</h4>
      <br>
      <a href="about-me#about-ash"><button class="button-large">Learn More</button></a>
    </div>
    <div class="col-sm-4">
      <img class="page-section__image" src="assets/images/ash.JPG"></img>
    </div>
  </div>



<!-- </div> -->