---
id: tools
layout: default
---
<div class="container-fluid page-header" id="page-header-temple-of-divine-light">
  <div class="row">
    <div class="col-sm-12 page-header__title">
      <h1>Temple of Divine Light Album</h1>
      <!-- <h3>Technology to stimulate mind-body-spirit</h3> -->
    </div>
  </div>
</div>

<div class="container-fluid page-section">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
      <h3>Temple of Divine Light Album</h3>
      <p><i>Temple of Divine Light</i> is an album created in collaboration with <i>The Current Way Wellness Movement</i> as part of a 2022 guided meditation series on the <i>Seven Rays of Divine Light</i>.
      </p>
      <p>The Seven Rays represent different aspects of the divine energy that permeates the universe. Each ray has a specific quality, color and Chohan (also known as Ascended Master) associated with it.
      </p>
      <p>The concept of the Seven Rays has been present in various spiritual traditions, including Hinduism, Buddhism, Christianity, Theosophy and Spiritualism.
      </p>
      <p>Overall, the Seven Rays of Divine Light represent a powerful and timeless concept that aims to inspire individuals to connect with the divine and seek balance and harmony in their lives.
      </p>
      <p>You can find the Seven Rays guided meditation series on YouTube on the channel <a href=“https://youtube.com/playlist?list=PLe77EKUF5NP0t3lcShVAlc8qmGXp6MCeG" target="_blank">Current Way Wellness Movement</a>. Each meditation leads listeners on an inspiring visualization journey to sacred temples in far-off lands.
      </p>

      <h3>Album recording - COMING SOON!</h3>
      <p>The album is coming soon to all major music-streaming platforms! Check back on this page soon for direct links to the various apps/sites/platforms.
      </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
    	<img class="column-image" src="assets/images/temple_of_divine_light_program.jpg">
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
      <img class="column-image1" src="assets/images/portfolio-items/temple_of_divine_light.jpg">
    </div>
    <div class="col-md-5">
    </div>
  </div>


  <br>
  <br>
  <br>

</div>