---
id: tools
layout: default
---
<div class="container-fluid page-header" id="page-header-tools">
  <div class="row">
    <div class="col-sm-12 page-header__title">
      <h1>Tools for Raising Consciousness</h1>
      <h3>Technology to stimulate mind-body-spirit</h3>
    </div>
  </div>
</div>

<div class="container-fluid page-section">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
    	<h3>Mayan Dreamspell Calender</h3>
    	From the LawOfTime.org: 
    	<br>
    	<br>
    	<i>"The day you were born on the 13 Moon calendar is coded by your Galactic Signature. Your Galactic Signature is one of the 260 possibilities encoded in the Tzolkin/Harmonic Module.
    	<br>
    	<br>
    	By playing the role of your galactic signature, your allow yourself – your mind, body and spirit – to vibrate to that particular frequency and you broadcast it out to everyone around you. This is your gift to the world."</i>
    	<br>
    	<br>
    	<a href="https://lawoftime.org/decode/"><button class="button">Decode Your Galactic Signature</button></a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
    	<a href="https://lawoftime.org/decode/" target="_blank"><img class="column-image" src="assets/images/law_of_time_decoder.jpg"></a>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
    	<h3>Futurist Playground Holonic Values Diagram</h3>
    	From the FuturistPlayground.com: 
    	<br>
    	<br>
    	<i>"[This interactive diagram presents] <i>an emergent abundance-based value system designed to optimize sustainability and human need-fulfillment."
    	<br>
    	<br>
    	The slices represent different values and the concentric circles (holons) represent different levels of consciousness. The most good is achieved by making decisions that include all values and all levels of consciousness.</i>
    	<br>
    	<br>
    	<a href="http://futuristplayground.org/process/#abundance-value-system"><button class="button">Explore the Model</button></a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
    	<a href="http://futuristplayground.org/process/#abundance-value-system" target="_blank"><img class="column-image" src="assets/images/fp_values_diagram_screenshot.png"></a>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
    	<h3>Times Table Geometry Simulator</h3>
    	From the FuturistPlayground.com: 
    	<br>
    	<br>
    	<i>The modular multiplication circle generates geometry found in the Mandelbrot set and other mathematical phenomenon. Many of the designs it creates resemble mandalas and patterns found in nature. Explore these shapes and even print out your favorites.
    	<br>
    	<br>
    	<a href="https://codepen.io/hippiefuturist/full/NAvqgk/"><button class="button">Play With Simulation</button></a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
    	<a href="https://codepen.io/hippiefuturist/full/NAvqgk/" target="_blank"><img class="column-image" src="assets/images/times_table.jpg"></a>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
    	<h3>Mystery Mosaic / Color-By-Number Generator</h3>
    	<br>
    	<br>
    	Upload any image and convert to a numbered grid that you can print out and color! Coloring has the ability to bring relaxation and mindfulness, helping raise your consciousness.
    	<br>
    	<br>
    	<a href="color-by-number-generator"><button class="button">Use Tool</button></a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
    	<a href="color-by-number-generator" target="_blank"><img class="column-image" src="assets/images/lamb_color_by_number.jpg"></a>
    </div>
  </div>
</div>

<div class="container-fluid page-section">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
    	<h3 class="page-section__title">Commission a Custom Tool for Your Website</h3>
    	<h4>Engage your audience with interactive tools, calculators and simulations.</h4>
    	<br>
    	<br>
    	<br>
		Here are some reasons to consider a custom interactive web-based tool for raising awareness, vibration and audience engagement:
		<br>
		<br>
		<i class="fas fa-sliders-h symbol"></i> Often underutilized, one of the most powerful features of the web is its interactive nature. Dynamic tools bring static information to a whole new dimension. It also makes website use more fun!
		<br>
		<br>
		<i class="far fa-images symbol"></i> <a href="http://www.t-sciences.com/news/humans-process-visual-data-better">90 percent of information transmitted to the brain is visual</a>, and an estimated <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=587201">65 percent of the human population are visual learners</a>. So targeting visual learning online is an efficient method for knowledge retention.

		<br>
		<br>
		<i class="fas fa-star-of-david symbol"></i> Mathematics and geometry are fundamental keys to understanding the cosmos and linking the familiar microcosm with the divine macrocosm. Communicating these concepts in a direct way raises the vibration of the noosphere and aids in our collective evolution.
		<br>
		<br>
		<i class="far fa-address-card symbol"></i> With a degree in Computer Science & Engineering and 5+ years professional experience creating software applications and websites, I offer fully-custom interactive tools optimized for your website.
		<br>
		<br>
		<b>Message me below for a free consultation and estimate!</b>
  	</div>
  	<div class="col-sm-3">
    </div>
  </div>
</div>

{% include contactform.html %}